<%- include("page_top.ejs") %>

<h1>נקודות ביקור</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>שם</th>
        <th>מיקום</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="mainTable"> </tbody>
</table>

<h2>הוסף נקודה חדשה</h2>
<br>
<input type="text" id="pointName" placeholder="שם הנקודה" required>
<input type="text" id="pointLocation" placeholder="מיקום הנקודה" required>
<button onclick="addNewPoint()">הוסף נקודה</button>
<br><br>

<h2>מחק נקודה לפי ID</h2>
<br>
<input type="text" id="deletePointID" placeholder="הכנס ID של נקודה">
<button onclick="deletePoint()">מחק נקודה לפי ID</button>
<br><br>

<h2>עדכן נקודה</h2>
<br>
<input type="text" id="updatePointID" placeholder="הכנס ID של נקודה">
<input type="text" id="updatedPointName" placeholder="שם מעודכן">
<input type="text" id="updatedPointLocation" placeholder="מיקום מעודכן">
<button onclick="editPoint()">עדכן נקודה</button>

<br><br>
<button onclick="window.location.href='/visits'">מעבר לדף ביקורים</button>

<script src="/points.js"></script>
<%- include("page_bottom.ejs") %>
