<%- include("page_top.ejs") %>

<h1>ביקורים</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>שם שומר</th>
        <th>הערות</th>
        <th>זמן ביקור</th>
    </tr>
    </thead>
    <tbody id="mainTable"> </tbody>
</table>

<h2>הוסף ביקור חדש</h2>
<br>
<input type="text" id="pointId" placeholder="Point ID" required>
<input type="text" id="guardName" placeholder="Guard Name" required>
<input type="text" id="notes" placeholder="Notes">
<button onclick="addNewVisit()">הוסף ביקור</button>
<br><br>

<h2>מחק ביקור לפי ID</h2>
<br>
<input type="text" id="deleteVisitID" placeholder="Enter Visit ID">
<button onclick="deleteVisit()">מחק ביקור</button>
<br><br>

<h2>עדכן ביקור</h2>
<br>
<input type="text" id="updateVisitID" placeholder="Enter Visit ID">
<input type="text" id="updatedGuardName" placeholder="Updated Guard Name">
<input type="text" id="updatedNotes" placeholder="Updated Notes">
<button onclick="editVisit()">עדכן ביקור</button>

<br><br>
<button onclick="window.location.href='/'">Move to Points</button>

<script src="/visits.js"></script>
<%- include("page_bottom.ejs") %>
